body {  
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
* {
  box-sizing: border-box;
}

.auth-container {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.auth-input:focus {
  border-color: #4f46e5;
  outline: none;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #4338ca;
}

.auth-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.auth-link a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: bold;
}
textarea.auth-input {
  resize: none;
  height: 100px;
} 